.cta {
  top: 13.8%;
  right: 7%;
}

@media (min-width: 768px) {
  .cta {
    top: 14%;
    right: 7%;
  }
}

@media (min-width: 1280px) {
  .cta {
    width: 10%;
    top: 13.5%;
    left: 84.5%;
  }
}

@media (min-width: 1536px) {
  .cta {
    top: 14.5%;
  }
}
