.logo {
  @apply absolute z-10 transform -translate-x-1/2;
  top: 115px;
  left: 49.5%;
}

@media (max-height: 980px) {
  .logo {
    top: 180px;
  }
}

@media (max-height: 853px) {
  .logo {
    top: 160px;
  }
}

@media (max-height: 768px) {
  .logo {
    top: 145px;
  }
}

@media (max-height: 667px) {
  .logo {
    top: 125px;
  }
}

@media (max-height: 640px) {
  .logo {
    top: 105px;
  }
}

@media (max-height: 568px) {
  .logo {
    top: 100px;
  }
  .logo img {
    width: 140px;
  }
}
@media (max-height: 480px) {
  .logo {
    top: 90px;
  }
  .logo img {
    width: 120px;
  }
}
