.logo {
  top: 18.5%;
  width: 9rem;
}

@media (min-width: 768px) {
  .logo {
    width: 6rem;
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 7rem;
  }
}

@media (min-width: 1280px) {
  .logo {
    width: 9rem;
  }
}

@media (min-width: 1536px) {
  .logo {
    width: 12rem;
  }
}

@media (min-width: 1680px) {
  .logo {
    width: 14rem;
  }
}
