.logo {
  top: 18%;
}

/* desktop */
@media (max-width: 1920px) and (max-height: 1200px) {
  .logo {
    top: 20%;
  }
}

@media (max-width: 1920px) and (max-height: 980px) {
  .logo {
    top: 18%;
  }
}

@media (max-width: 1600px) and (max-height: 900px) {
  .logo {
    top: 19%;
  }
}

@media (max-width: 1600px) and (max-height: 780px) {
  .logo {
    top: 17%;
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  .logo {
    top: 19%;
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .logo {
    top: 18%;
  }
}

/* tablet */
@media (max-width: 800px) and (max-height: 1280px) {
  .logo {
    top: 18%;
    width: 300px;
  }

  .logo img {
    width: 100%;
  }
}

@media (max-width: 768px) and (max-height: 1024px) {
  .logo {
    width: 245px;
  }
}

@media (max-width: 533px) and (max-height: 853px) {
  .logo {
    top: 18%;
    width: 205px;
  }
}

/* mobile */
@media (max-width: 720px) and (max-height: 1280px) {
  .logo {
    top: 19%;
  }
}

@media (max-width: 540px) and (max-height: 960px) {
  .logo {
    top: 19%;
  }
}

@media (max-width: 320px) and (max-height: 553px) {
  .logo {
    width: 124px;
  }
}

@media (max-width: 213px) and (max-height: 320px) {
  .logo {
    width: 80px;
    margin: 0 auto;
  }
}
