.socials {
  @apply absolute z-10;
  width: 100%;
}

.socials ul {
  transform: skew(0deg, 2deg);
}

/* desktop */
@media (max-width: 1920px) and (max-height: 1200px) {
  .socials {
    top: 14%;
    left: 0%;
    width: 160px;
  }
}

@media (max-width: 1920px) and (max-height: 1080px) {
  .socials {
    top: 14%;
    left: 3%;
    width: 181px;
  }
}

@media (max-width: 1920px) and (max-height: 980px) {
  .socials {
    top: 13%;
    left: 5.5%;
  }
}

@media (max-width: 1680px) and (max-height: 1050px) {
  .socials {
    top: 14%;
    left: 0%;
    width: 139px;
  }
}

@media (max-width: 1600px) and (max-height: 900px) {
  .socials {
    top: 14%;
    left: 3%;
    width: 146px;
  }
}

@media (max-width: 1600px) and (max-height: 780px) {
  .socials {
    top: 11%;
    left: 5.5%;
  }
}

@media (max-width: 1440px) and (max-height: 900px) {
  .socials {
    top: 14%;
    left: 1%;
    width: 103px;
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  .socials {
    top: 13%;
    left: 3%;
    width: 129px;
  }
}

@media (max-width: 1280px) and (max-height: 950px) {
  .socials {
    display: none;
  }
}

@media (max-width: 1280px) and (max-height: 768px) {
  .socials {
    top: 14%;
    left: 1%;
    width: 112px;
    display: block;
  }
}

@media (max-width: 1024px) {
  .socials {
    display: none;
  }
}
