.socials {
  @apply absolute z-10;
}

.socials ul {
  transform: skew(0deg, 2deg);
}

@media (max-width: 1299px) {
  .socials {
    display: none;
  }
}

@media (min-width: 1300px) and (min-height: 600px) {
  .socials {
    top: 8.5%;
    left: 5%;
    width: 129px;
  }
}

@media (min-width: 1400px) and (min-height: 700px) {
  .socials {
    top: 12%;
    left: 5.5%;
  }
}

@media (min-width: 1500px) and (min-height: 800px) {
  .socials {
    width: 140px;
    top: 14%;
    left: 3.5%;
  }
}

@media (min-width: 1700px) and (min-height: 900px) {
  .socials {
    width: 159px;
    top: 13%;
    left: 5.5%;
  }
}

@media (min-width: 1800px) and (min-height: 800px) {
  .socials {
    width: 173px;
    top: 10%;
    left: 5.5%;
  }
}

@media (min-width: 1900px) {
  .socials {
    top: 12%;
  }
}
