@media (min-width: 1024px) {
  .fb-icon {
    width: 11px;
  }
  .twitter-icon {
    width: 20px;
  }
  .insta-icon {
    width: 18px;
  }
  .youtube-icon {
    width: 24px;
  }
  .apple-icon {
    width: 15px;
  }
}

@media (min-width: 1280px) {
  .fb-icon {
    width: 13px;
  }
  .twitter-icon {
    width: 23px;
  }
  .insta-icon {
    width: 20px;
  }
  .youtube-icon {
    width: 27px;
  }
  .apple-icon {
    width: 17px;
  }
}

@media (min-width: 1536px) {
  .fb-icon {
    width: 15px;
  }
  .twitter-icon {
    width: 25px;
  }
  .insta-icon {
    width: 22px;
  }
  .youtube-icon {
    width: 29px;
  }
  .apple-icon {
    width: 19px;
  }
}
