.spinning-logo {
  @apply absolute z-10;
  bottom: 32.4%;
  right: 49%;
}

/* desktop */
@media (max-width: 1920px) and (max-height: 1200px) {
  .spinning-logo {
    bottom: 32.8%;
    width: 41px;
  }
}

@media (max-width: 1920px) and (max-height: 1080px) {
  .spinning-logo {
    width: 40px;
  }
}

@media (max-width: 1680px) and (max-height: 1050px) {
  .spinning-logo {
    width: 35px;
  }
}

@media (max-width: 1600px) and (max-height: 900px) {
  .spinning-logo {
    bottom: 32.3%;
  }
}

@media (max-width: 1440px) and (max-height: 900px) {
  .spinning-logo {
    width: 32px;
  }
}

@media (max-width: 1280px) and (max-height: 768px) {
  .spinning-logo {
    width: 30px;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  .spinning-logo {
    width: 27px;
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .spinning-logo {
    width: 17px;
    right: 49.5%;
  }
}
