.spinning-logo {
  @apply absolute z-10;
  bottom: 32.4%;
  right: 49%;
}

@media (min-width: 1000px) {
  .spinning-logo {
    right: 49.5%;
  }
}

@media (min-width: 1700px) {
  .spinning-logo {
    bottom: 32.2%;
    right: 49.7%;
  }
}

@media (min-width: 1800px) {
  .spinning-logo {
    bottom: 30.3%;
    right: 49.8%;
  }
}

@media (min-width: 1800px) and (min-height: 600px) {
  .spinning-logo {
    bottom: 24.3%;
  }
}

@media (min-width: 1800px) and (min-height: 700px) {
  .spinning-logo {
    bottom: 27.3%;
  }
}

@media (min-width: 1800px) and (min-height: 800px) {
  .spinning-logo {
    bottom: 32%;
  }
}
