{
    "printWidth": 100,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "newline-before-return": false,
    "no-duplicate-variable": [true, "check-parameters"],
    "no-var-keyword": true
}